CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5661=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_MT7603E_APCLI_SUPPORT=y
CONFIG_MT7603E_ATE_SUPPORT=y
CONFIG_MT7603E_DOT11N_DRAFT3=y
CONFIG_MT7603E_DOT11W_PMF_SUPPORT=y
CONFIG_MT7603E_FIRST_IF_EEPROM_FLASH=y
CONFIG_MT7603E_FIRST_IF_MT7603E=y
CONFIG_MT7603E_LLTD_SUPPORT=y
CONFIG_MT7603E_MAC_REPEATER_SUPPORT=y
CONFIG_MT7603E_MBSS_SUPPORT=y
CONFIG_MT7603E_MT_MAC=y
CONFIG_MT7603E_MT_NEW_RATE_ADAPT_SUPPORT=y
CONFIG_MT7603E_MT_WIFI_MODE_AP=y
CONFIG_MT7603E_MT_WIFI_PATH="rlt_wifi"
CONFIG_MT7603E_MULTI_APCLI_SUPPORT=y
CONFIG_MT7603E_MULTI_INF_SUPPORT=y
CONFIG_MT7603E_NEW_BW2040_COEXIST_SUPPORT=y
CONFIG_MT7603E_NEW_RATE_ADAPT_SUPPORT=y
CONFIG_MT7603E_RALINK_MT7603E=y
CONFIG_MT7603E_RLT_AP_SUPPORT=y
CONFIG_MT7603E_RLT_WIFI=y
CONFIG_MT7603E_RT2860V2_AP_V24_DATA_STRUCTURE=y
CONFIG_MT7603E_RTMP_FLASH_SUPPORT=y
CONFIG_MT7603E_RTMP_PCI_SUPPORT=y
CONFIG_MT7603E_RT_FIRST_CARD_EEPROM="flash"
CONFIG_MT7603E_UAPSD=y
CONFIG_MT7603E_WSC_INCLUDED=y
CONFIG_MT76X2E_AP_80211AC_VHT=y
CONFIG_MT76X2E_AP_APCLI=y
CONFIG_MT76X2E_AP_LED=y
CONFIG_MT76X2E_AP_LLTD=y
CONFIG_MT76X2E_AP_MBSS=y
CONFIG_MT76X2E_AP_MBSS_NEW_MBSSID_MODE=y
CONFIG_MT76X2E_AP_WDS=y
CONFIG_MT76X2E_RT_FIRST_CARD=7603
CONFIG_MT76X2E_RT_SECOND_CARD=7612
CONFIG_MT76X2E_RT_SECOND_IF_MT7612E=y
CONFIG_MTK_CHIP_MT7603E_MT7612E=y
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-base64=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dns2socks=y
# CONFIG_PACKAGE_etherwake is not set
CONFIG_PACKAGE_ip-full=y
# CONFIG_PACKAGE_ip-tiny is not set
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iptables-mod-iprange=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-iprange=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
# CONFIG_PACKAGE_kmod-mmc is not set
CONFIG_PACKAGE_kmod-mt7603e=y
CONFIG_PACKAGE_kmod-mt76x2e=y
# CONFIG_PACKAGE_kmod-nf-conntrack-netlink is not set
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-reject6=y
CONFIG_PACKAGE_kmod-nls-base=y
# CONFIG_PACKAGE_kmod-sdhci-mt7620 is not set
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_libbpf=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-arpbind is not set
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs is not set
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
CONFIG_PACKAGE_luci-app-mtwifi=y
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
CONFIG_PACKAGE_luci-app-passwall=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus is not set
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray_Plugin=y
# CONFIG_PACKAGE_luci-app-ramfree is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
# CONFIG_PACKAGE_luci-lib-fs is not set
CONFIG_PACKAGE_microsocks=y
CONFIG_PACKAGE_mt_wifi=y
# CONFIG_PACKAGE_nlbwmon is not set
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_unzip=y
# CONFIG_PACKAGE_vlmcsd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_PACKAGE_wireless-tools=y
# CONFIG_PACKAGE_wol is not set
# CONFIG_PACKAGE_wpad-openssl is not set
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_xray-plugin=y
CONFIG_PACKAGE_zerotier=y
